<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013426084789-3vsbvlbjb9p8vdbnpoathf92mh7l7o21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013426084789-3vsbvlbjb9p8vdbnpoathf92mh7l7o21</string>
	<key>API_KEY</key>
	<string>AIzaSyAwyghLcCQPJsphhbAQjH00NTszCsYpYBk</string>
	<key>GCM_SENDER_ID</key>
	<string>1013426084789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owl.memo.Inflearn-HowlTalk</string>
	<key>PROJECT_ID</key>
	<string>inflearn-howltalk</string>
	<key>STORAGE_BUCKET</key>
	<string>inflearn-howltalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013426084789:ios:ee8c7b220a46214adb97fc</string>
	<key>DATABASE_URL</key>
	<string>https://inflearn-howltalk.firebaseio.com</string>
</dict>
</plist>